
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

body {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;    
    width: 90%;
    margin: 0 auto;
    line-height: normal;
}

header {
    position: sticky;
    top: 0;
    padding: 16px;

    animation: header-scroll linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 200px;
    z-index: 1;
}

@keyframes header-scroll {
    to {
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(5px);
    }
}

h1 {
    font-size: 70px;
    font-weight: 600;   
    letter-spacing: 5px;
}

h4{
    font-size: 30px;
    font-weight: 400;
}

.line {
    width: 60%;
    height: 2px;
    background-color: #e10600;
    transform: translateY(-50%);
    margin-left: 15px;
    margin-top: -10px;
}

p {
    text-wrap: pretty;
    font-size: 20px;
    font-weight: 400;
}

.nav-link {
    padding: 0;
    color: rgba(255, 255, 255, 0.5) !important;
}

.nav-link.active {
    background-color: transparent !important;
    color: #fff !important;
    cursor: default;
}

.nav-link:hover {
    background-color: transparent !important;
    transform: scale(1.02);
    color: #fff !important;
}

