
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

body {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;    
    width: 90%;
    margin: 0 auto;
    line-height: normal;
}

header {
    position: sticky;
    top: 0;
    padding: 16px;

    animation: header-scroll linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 400px;
    z-index: 1;
}

@keyframes header-scroll {
    to {
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(5px);
    }
}

.circle, .circle2, .circle3, .circle4 {
    border-radius: 9999px;
    width: 450px;
    height: 450px;
    background: linear-gradient(to bottom, #e10600 40%, #980500 50%);
    filter: blur(120px);
    position: fixed;
    z-index: -1;
    opacity: 0.3;
}

.circle{
    bottom: -30%;
    left: -10%;
}

.circle2{
    bottom: 10%;
    left: 15%;
}

.circle3{
    bottom: -10%;
    left: 55%;
}

.circle4 {
    bottom: 30%;
    right: -20%;
}

h1 {
    font-size: 70px;
    font-weight: 600;   
    letter-spacing: 5px;
}

h3 {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}

h4{
    font-size: 30px;
    font-weight: 400;
}

h5 {
    font-size: 20px !important;
    font-weight: 300;
}

.line {
    width: 60%;
    height: 2px;
    background-color: #e10600;
    transform: translateY(-50%);
    margin-left: 15px;
    margin-top: -10px;
}

p {
    text-wrap: pretty;
    font-size: 20px;
    font-weight: 400;
}

.nav-link {
    padding: 0;
    color: rgba(255, 255, 255, 0.5) !important;
}

.nav-link.active {
    background-color: transparent !important;
    color: #fff !important;
    cursor: default;
    border-radius: 0;
    border-bottom: 1px solid #888;
}

.nav-link:hover {
    background-color: transparent !important;
    transform: scale(1.02);
    color: #fff !important;
}

.shadow {
    animation: shadow 1.8s infinite alternate;
}

.img404 {
    animation: floaty 1.8s infinite alternate;
}

@keyframes floaty {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(15px);
    }
}

@keyframes shadow {
    0% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(.85, .85);
    }
}

.Select-value-label {
    color: #fff !important;
}

.Select-value {
    border: .5px solid #e10600;
    border-radius: 50px;
    border-top: none;
}

.team:hover {
    text-decoration: underline;
}